.nav-wrapper {
    background-color: #f7f7f7;
}

nav a {
    color: #000000;
}

.parallax-offset {
    padding-top: 50px;
}

.parallax-name {
    font-family: "Roboto Black", sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    color: #fafafa;
    text-shadow: 2px 1px #000000;
}

.parallax-title {
    width: inherit;
    display: inline-block;
    text-align: center;
    background-color: #ffffff;
    padding: 10px;
    margin-top: 15px;
}

.profilepic {
    max-height: 250px;
}

.btn-floating {
    margin-left: 5px;
    margn-right: 5px;
}
.btn-floating i {
    color: #000;
}

.projectrow {

}

.section-title {
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 50px;
    color: #222;
    text-transform: uppercase;
}

.subtitle {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 20px;
    color: #222;
    text-transform: uppercase;
}

.pagination li {
    margin-top: 20px;
}
.pagination li.active {
    background-color: #424242;
}

.footer-title {
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 5px;
    color: #ffffff;
    text-transform: uppercase;
}

.mobile-divider {
    margin: 20px;
}

footer.page-footer {
    margin-top: 0;
    background-color: #424242;
    color: #ffffff;
}

footer.page-footer .footer-copyright {
    background-color: #3a3636;
}

footer i {
    margin-right: 10px;
}

.darkbox {
    background-color: #f7f7f7;
    min-height: 200px;
    padding-top: 50px;
    padding-bottom: 25px;
}

.whitebox {
    background-color: #ffffff;
    min-height: 400px;
    padding-top: 50px;
    padding-bottom: 25px;
}

.modal {
	width: 100%;
	max-height: none;
		height: 100%;
}

.floating {
	position: fixed;
	top: 10px;
	right: 10px;
}

.btn-flat {
	height: inherit;
}

.chip {
	border-radius: 0;
}